body {
    background: url(./assets/patrick-fore-557732-unsplash.jpg) 
        no-repeat center center fixed;
    background-size: 100vh;
    font-family: 'Concert One', cursive;
}

h1 {
    text-align: center;
    font-size: 72px;
    color: #40c0cb;
    opacity: .9;
}