* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00a8c6;
}

nav {
    background-color: #f9f2e7;
    border: 5px solid #8fbe00;
    border-radius: 10px;
    padding: 20px;
}

nav a {
    color: #00a8c6;
    padding: 5px;
    margin: 10px;
    border: 2px solid #40c0cb;
    border-radius: 5px;
    background-color: #aee239;
    text-decoration: none;
}

