#review-box {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #8fbe00;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
}

dd {
    text-align: center;
    color: #f9f2e7;
}

#redirect-button a {
    background-color: #aee239;
    padding: 5px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 5px;
    /* color: rgb(144, 107, 89); */
    color: black;
    text-decoration: none;
}

